{% extends "base.html" %}
{% block title %}Novo Registro{% endblock %}

{% block content %}
    <h2>Novo Cadastro de Imagem</h2>

    <form action="/salvar" method="post" enctype="multipart/form-data">

        <label>Nome / Titulo:</label>
        <input type="text" name="campo_nome" required />

        <label>Informações Complementares:</label>
        <input type="text" name="campo_info" required />

        <label>Categorias:</label>
        <select name="campo_categoria" required>
            <option value="">Selecione uma categoria</option>
            {% for cat in categorias %}
                <option value="{{ cat.id }}">{{ cat.nome }}</option>
            {% endfor %}
        </select>


        <label>Valor / Preço (R$):</label>
        <input type="number" name="campo_valor" step="0.01" placeholder="0.00" required />

        <label>Imagem / Foto:</label>
        <input type="file" name="campo_imagem" accept="image/*" />

        <button type="submit">Salvar Registro</button>
    </form>
    {% endlock %}

