{extends 'base.html' %} 
{% block title %}Dashboard - Meu Sistema{% endblock %} 
{% block content %}
    <h1>Dashboard e Registro</h1>
    <hr>

    {% include 'components/cards.html' %}

    <hr>
    <form action="/" method="get" class="search-form">
        <input type="text" name="busca" placeholder="Pesquisar por nome..." value="{{ busca }}">
        
        <select name="Categoria_id" onchange="this.form.submit()">
            <option value="">-- Todas as Categorias --</option>
            {% for cat in categorias %}
                <option value="{{ cat.id }}" {% 'selected' if categoria_selecionada == cat.id %}>{{ cat.nome }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
        {% if busca or categoria_selecionada %}
            <a href="/" class="btn-clear">Limpar Filtros</a>
        {% endif %}
    </form>

    <h2>Registros do Banco de Dados</h2>

    {% if cadastros|length == 0 %}
        <p><em>Nenhum registro encontrado.</em></p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>ID</th>
                    <th>Informação</th>
                    <th>Categoria</th>
                    <th>Valor (R$)</th>
                    <th>Ações</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cadastros %}
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='uploads/' + item.imagem) }}" alt="{{ item.nome }}" class="img-thumb">
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome }}</td>
                        <td><span class="badge-cat">{{ item.categoria.nome }}</span></td>
                        <td>{{ item.info }}</td>
                        <td>R$ {{ "%.2f"|format(item.valor) }}</td>
                        <td>
                            <span class="badge {{'badge-success' if item.status == 'Concluido' else 'badge-warning'}}">
                            {{ item.status }}
                        </span>
                        </td>
                        <td>
                            <a href="/editar/{{ item.id }}" class="btn-edit">Editar</a>
                            <a href="/excluir/{{ item.id }}" class="btn-delete" onclick="return confirm('Tem certeza que deseja excluir este registro?');">Excluir</a>
                        </td>
                    </tr>
                {% endfor % }
            </tbody>
                    
        </table>
    {% endif %}
{% endblock %}




